.certifications__container {
  width: 50%;
  padding-bottom: 3rem;
}

.certifications__item {
  background-color: var(--color-bg-variant);
  padding: 1.2rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: var(--transition);
}

.certifications__item:hover {
  border-color: var(--color-primary-variant);
  background: transparent;
}

.certifications__item a {
  color: var(--color-white);
}

.certifications__item a h3 {
  margin-top: 1rem;
}

/*======================== MEDIA QUERIES (MEDIUM DEVICES) ====================*/
@media screen and (max-width: 1024px) {
  .certifications__container {
    width: 30rem;
  }
}

/*======================== MEDIA QUERIES (SMALL DEVICES) ====================*/
@media screen and (max-width: 690px) {
}
@media screen and (max-width: 600px) {
  .certifications__container {
    width: 100%;
  }

  .certifications__item a h3 {
    display: none;
  }
}
