.certifications__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1.2rem;
}

.certifications__item {
  background-color: var(--color-bg-variant);
  padding: 1.2rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: var(--transition);
}

.certifications__item:hover {
  border-color: var(--color-primary-variant);
  background: transparent;
}

.certifications__item a {
  color: var(--color-white);
}

/*======================== MEDIA QUERIES (MEDIUM DEVICES) ====================*/
@media screen and (max-width: 1024px) {
  .certifications__container {
    grid-template-columns: 1fr 1fr;
    width: 72%;
  }
}

/*======================== MEDIA QUERIES (SMALL DEVICES) ====================*/
@media screen and (max-width: 600px) {
  .certifications__container {
    grid-template-columns: 1fr;
    width: 100%;
  }
}
