footer {
  background-color: var(--color-primary);
  text-align: center;
  margin-top: 8rem;
  padding: 3rem 2rem 8rem;
  border-radius: 2rem 2rem 0 0;
}

footer a {
  color: var(--color-bg);
  cursor: pointer;
}

.footer__logo {
  margin-bottom: 2rem;
  display: inline-block;
  font-size: 2rem;
  font-weight: 500;
  background: var(--color-bg-variant);
  padding: 0.5rem 1rem;
  border-radius: 50%;
}

.permalinks {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 3rem;
  gap: 2rem;
}

.footer__socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 3rem;
}

.footer__socials a {
  background: var(--color-bg);
  color: var(--color-white);
  padding: 0.8rem;
  border-radius: 0.5rem;
  transition: var(--transition);
  border: 1px solid transparent;
}

.footer__socials a:hover {
  background: transparent;
  color: var(--color-bg);
  border-color: var(--color-bg);
}

.footer__copyright {
  color: var(--color-bg);
}

.footer__copyright::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: var(--color-bg);
  margin: 0.6rem 0;
}

/*======================== MEDIA QUERIES (SMALL DEVICES) ====================*/
@media screen and (max-width: 600px) {
  .permalinks {
    flex-direction: column;
  }
}
