#header {
  padding-top: 7rem;
  background-color: rgb(145, 113, 11);
  color: #3b3934;
  position: relative;
}

.cta {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 2.5rem;
}

.header__socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  position: absolute;
  left: 0;
  bottom: 3rem;
}

.header__socials::after {
  content: "";

  width: 2px;
  height: 2rem;
  background: var(--color-primary);
}
