header {
  height: 100vh;
  padding-top: 7rem;
  overflow: clip;
}

.header__container {
  text-align: center;
  position: relative;
  height: 100%;
}

.cta {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 2.5rem;
}

.me {
  border-radius: 200px 200px 0 0;
  margin-top: 6rem;
  background: linear-gradient(var(--color-primary), transparent);
  width: 22rem;
  position: absolute;
  left: calc(50% - 11rem);
}

.header__socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  position: absolute;
  bottom: 3rem;
}

.header__socials::after {
  content: "";
  width: 2px;
  height: 2rem;
  background: var(--color-primary);
}

.scroll_down {
  position: absolute;
  bottom: 5rem;
  right: -2rem;
  transform: rotate(90deg);
  font-size: 0.9rem;
}

/*======================== MEDIA QUERIES (MEDIUM DEVICES) ====================*/
@media screen and (max-width: 1024px) {
  header {
    padding-top: 3rem;
  }

  .header__socials {
    left: 4rem;
  }

  .scroll_down {
    right: 2rem;
  }
}

/*======================== MEDIA QUERIES (SMALL DEVICES) ====================*/
@media screen and (max-width: 600px) {
  header {
    height: 830px;
    padding-top: 2rem;
  }
  .header__socials,
  .scroll_down {
    display: none;
  }
  .me {
    width: 18rem;
    left: calc(50% - 9rem);
  }
}

@media screen and (max-width: 400px) {
  .me {
    width: 14rem;
    left: calc(50% - 7rem);
  }
}
/*======================== MEDIA QUERIES (MINIMUM HEIGHT) ====================*/
@media screen and (max-height: 830px) {
  header {
    height: 830px;
  }
  .header__socials {
    bottom: 0;
  }
  .scroll_down {
    bottom: 2.1rem;
  }
}
