#projects {
  padding: 10rem 0;
}

.projects__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  width: 1000px;
}

.projects__item {
  background-color: var(--color-bg-variant);
  padding: 1.2rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: var(--transition);
}

.projects__item:hover {
  border-color: var(--color-primary-variant);
  background: transparent;
}

.projects__item-img {
  width: 100%;
  object-fit: cover;
  border-radius: 1.5rem;
  overflow: hidden;
}

.projects__item h3 {
  margin: 1.2rem 0;
}

/*======================== MEDIA QUERIES (MEDIUM DEVICES) ====================*/
@media screen and (max-width: 1024px) {
  .projects__container {
    grid-template-columns: 1fr 1fr;
    gap: 1.2rem;
    width: 72%;
  }
}

/*======================== MEDIA QUERIES (SMALL DEVICES) ====================*/
@media screen and (max-width: 600px) {
  .projects__container {
    grid-template-columns: 1fr;
    gap: 1rem;
    width: 100%;
  }
}

@media screen and (max-width: 400px) {
}
